<!DOCTYPE html>
<html class="full-height" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="
    <%= content_for?(:page_description) ? yield(:page_description) :
    "We believe providing reliable, safe and affordable Solar energy
    is not only an undeniable necessity, but also an obligation.
    Our work stems from the understanding of a first-hand necessity:
    the need for energy, limited by lack of financing." %>">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pawame - <%= content_for?(:page_title) ? yield(:page_title) :
    "A team of international and local people working passionately to
    improve the quality of life of low income offgrid consumers with an
    affordable, clean and safe energy source." %>
    </title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'pawame_favicon.png' %>
  </head>

  <body class="full-height">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= image_tag 'pawame_logo_slogan_ok.png', class: 'img-responsive'%></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="main-nav" class=" nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#mission">Mission</a></li>
                <li><a href="#solution">Solution</a></li>
                <li><a href="#impact">Impact</a></li>
                <li><a href="#career">Career</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
          </div>
      </div>
    </nav>

    <%= yield %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&#038;ver=4.5.4'></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <script>
    	jQuery(document).ready(function() {

    		'use strict';

    		// Map Coordination

    		var latlng = new google.maps.LatLng(-1.2783187,36.7846436);

    		// Map Options
    		var myOptions = {
    			zoom: 15,
    			center: latlng,
    			mapTypeId: google.maps.MapTypeId.ROADMAP,
    			disableDefaultUI: true,
    			scrollwheel: false,
    			// Google Map Color Styles
    			styles: [{featureType:"landscape",stylers:[{saturation:-100},{lightness:65},{visibility:"on"}]},{featureType:"poi",stylers:[{saturation:-100},{lightness:51},{visibility:"simplified"}]},{featureType:"road.highway",stylers:[{saturation:-100},
    			{visibility:"simplified"}]},{featureType:"road.arterial",stylers:[{saturation:-100},{lightness:30},{visibility:"on"}]},{featureType:"road.local",stylers:[{saturation:-100},{lightness:40},{visibility:"on"}]},{featureType:"transit",stylers:[{saturation:-100},
    			{visibility:"simplified"}]},{featureType:"administrative.province",stylers:[{visibility:"off"}]/**/},{featureType:"administrative.locality",stylers:[{visibility:"off"}]},{featureType:"administrative.neighborhood",stylers:[{visibility:"on"}
    			]/**/},{featureType:"water",elementType:"labels",stylers:[{visibility:"on"},{lightness:-25},{saturation:-100}]},{featureType:"water",elementType:"geometry",stylers:[{hue:"#ffff00"},{lightness:-25},{saturation:-97}]}]
    		};

    		var map = new google.maps.Map(document.getElementById('google-map'), myOptions);

    		// Marker Image
    		var image = '<%= asset_path('marker.png')%>';

    	  	/* ========= First Marker ========= */

    	  	// First Marker Coordination

    		var myLatlng = new google.maps.LatLng(-1.2783187,36.7846436);

    		// Your Texts

    		 var contentString = '<div id="content">'+
    		  '<div id="siteNotice">'+
    		  '</div>'+
    		  '<h4>' +

    		  'Office 1'+

    		  '</h4>'+

    		  '<p>' +

      		  'Your description goes here.' +

      		  '</p>'+


    		  '</div>';


    		var marker = new google.maps.Marker({
    			  position: myLatlng,
    			  map: map,
    			  title: 'Office 1',
    			  icon: image
    		  });


    		var infowindow = new google.maps.InfoWindow({
    		  content: contentString
    		  });


    		 google.maps.event.addListener(marker, 'click', function() {
    			infowindow.open(map,marker);
    		  });

    			});

    	</script>

      <footer class="text-center">
        <%= image_tag('pawame_logo.png') %>
        <p class="text-muted"> Copyright 2014 Your Site - All rights reserved. </p>
      </footer>

  </body>
</html>
